.container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);

    .leftSectionContainer {
        grid-column: 1/8;
        grid-row: 1/11;

        background-image: url(images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        > * {
            margin-left: 150px;
        }

        .logo {
            flex: 2;
            position: relative;
            .logoImage {
                position: absolute;
                top: 50%;
                left: 0%;
                transform: translate(0%, -50%);
            }
        }
        .mobileHeroImage {
            flex: 0;
        }
        .landingBody {
            flex: 7;
            width: 50%;
            .landingHeader {
                margin-top: 50px;
                span {
                    text-transform: uppercase;
                    font-size: 6rem;
                    letter-spacing: 20px;
                    font-weight: 600;
                    color: $Dark-grayish-red;
                }
                .A {
                    font-weight: 300;
                    color: $desaturated-red;
                }
            }
            .landingDescription {
                margin-top: 30px;
                font-size: 1.6rem;
                line-height: 30px;
                color: $desaturated-red;
            }

            form {
                margin-top: 40px;
                position: relative;
                .emailInputField {
                    width: 100%;
                    height: 50px;

                    border-radius: 30px;
                    border: 1px solid hsla(0, 6%, 24%, 0.397);

                    font-size: 1.6rem;
                    padding-left: 40px;
                    color: $desaturated-red;

                    &:invalid {
                        background-image: url(images/icon-error.svg);
                        background-repeat: no-repeat;
                        background-position: 73% 50%;

                        border-color: $soft-red;
                        + label {
                            opacity: 1;
                        }
                    }
                }
                label {
                    opacity: 0;
                    position: absolute;
                    bottom: -50%;
                    left: -4%;
                    transform: translate(0px, -50%);

                    font-size: 1.6rem;
                    padding-left: 40px;
                    color: $soft-red;
                }
                .submitButton {
                    position: absolute;
                    right: -0.5%;

                    width: 100px;
                    height: 50px;

                    border-radius: 30px;
                    border: 0px;

                    background: $linear-gradient-secondary;
                    transition: 0.2s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .rightImageContainer {
        grid-column: 8/13;
        grid-row: 1/11;

        background-image: url(images/hero-desktop.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: top;
        background-size: cover;
    }
}
